/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*--css reset--*/

* {
    box-sizing: border-box;
    font-family: noto sans, Arial;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: white;
}

p {
    color: white;
}

/*--全域--*/

.header {
    background-color: #AA0601;
}

@media screen and (min-width:769px) {
    .logo {
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .nav {
        width: 1296px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .items {
        display: inline-block;
        padding-left: 64px;
        font-size: 20px;
    }
}

@media screen and (min-width:377px) and (max-width:768px) {
    .logo {
        padding-bottom: 16px;
        padding-top: 16px;
    }

    .nav {
        width: 696px;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .items {
        display: inline-block;
        padding-left: 64px;
        font-size: 20px;
    }
}

@media screen and (max-width:376px) {
    .logo {
        padding-bottom: 16px;
        padding-top: 16px;
        margin-left: 15px;
    }

    .nav {
        width: 376px;
        margin: auto;
    }

    .items {
        border: white 1px solid;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .items-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/*--header--*/

.footer {
    background-color: #AA0601;
}

@media screen and (min-width:769px) {
    .w-36 {
        width: 36px;
        margin-right: 20px;
    }

    .w-48 {
        width: 48px;
        margin-left: 32px;
    }

    .contact {
        font-size: 36px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .sitmap {
        width: 1296px;
        margin: auto;
    }

    .contanier {
        display: flex;
        justify-content: space-between;
    }


    .items-list-f {
        padding-top: 60px;
        padding-bottom: 36px;
    }

    .items-f {
        display: inline-block;
        padding-right: 48px;
        font-size: 16px;
    }

    .social {
        padding-top: 48px;
    }

    .copyright {
        margin-top: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
        border-top: 1px solid #fff;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }

    .service-f {
        display: inline-block;
        padding-left: 48px;
    }

}

@media screen and (min-width:377px) and (max-width:768px) {
    .w-36 {
        width: 36px;
        margin-right: 20px;
    }

    .w-40 {
        width: 40px;
        margin-left: 16px;
    }

    .contact {
        font-size: 36px;
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .sitmap {
        width: 696px;
        margin: auto;
    }

    .contanier {
        display: flex;
        justify-content: space-between;
    }


    .items-list-f {
        padding-top: 60px;
        padding-bottom: 36px;
    }

    .items-f {
        display: inline-block;
        padding-right: 48px;
        font-size: 16px;
    }

    .social {
        padding-top: 48px;
    }

    .copyright {
        margin-top: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
        border-top: 1px solid #fff;
        font-size: 14px;
        display: flex;
        justify-content: space-between;
    }

    .service-f {
        display: inline-block;
        padding-left: 48px;
    }
}

@media screen and (max-width:376px) {
    .w-20 {
        width: 20px;
        margin-right: 10px;
    }

    .w-24 {
        width: 24px;
        margin-left: 8px;
    }

    .contanier {
        display: flex;
        justify-content: space-between;
    }

    .contact {
        margin-top: 4px;
        margin-bottom: 4px;
    }

    .sitmap {
        width: 348px;
        margin: auto;
    }

    .jcsb {
        display: flex;
        justify-content: space-between;
    }


    .items-list-f {
        display: none;
    }

    .social {
        padding-top: 24px;
    }

    .copyright {
        margin-top: 32px;
        padding-top: 32px;
        padding-bottom: 32px;
        border-top: 1px solid #fff;
        font-size: 14px;
    }

    .service-f {
        padding-bottom: 4px;
        padding-top: 4px;
    }

    .contant {
        padding-top: 24px;
    }

    .reserved {
        padding-bottom: 4px;
    }
}